/* app.component.css */

/* Estilos gerais para o componente raiz */
main {
    padding: 20px; /* Adiciona um espaçamento em volta do conteúdo principal */
  }
  
  header, footer {
    background-color: #f8f9fa; /* Cor de fundo clara para cabeçalho e rodapé */
    padding: 10px; /* Padding para cabeçalho e rodapé */
    text-align: center; /* Centraliza o texto */
  }
  